/node_modules
/public/hot
/public/dist
/public/*.zip
/*.zip
/public/storage
/public/.htaccess
/storage/*.key
/vendor
/app/Http/Controllers/App
/app/Http/Controllers/Wap
/app/Qingwuit/app.php
/app/Qingwuit/wap.php
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
.php-cs-fixer.cache
.htaccess